@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";

$light-bg-color: rgba(255,255,255,0.2);

.lon-gradient {
  //background: #134E5E;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to right, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to right, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  //background: #000000;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  //background: #f85032;  /* fallback for old browsers */
  //background: -webkit-linear-gradient(to left, #e73827, #f85032);  /* Chrome 10-25, Safari 5.1-6 */
  //background: linear-gradient(to left, #e73827, #f85032); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #333333;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #dd1818, #333333);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #dd1818, #333333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hero.lon-gradient a.navbar-item:hover, .hero.lon-gradient a.navbar-item.is-active {
   background-color: rgba(255,255,255,0.2) !important;
}

.hero.lon-gradient .tabs li.is-active a {
  background-color: rgba(255,255,255, 0.2);
  border-radius: 0.3rem 0.3rem 0 0;
}

.margin-top {
  margin-top:2rem;
}

.margin-top-x2 {
  margin-top: calc(2rem * 2);
}

.center {
  margin:auto;
}

.text-center {
  text-align: center;
}

.padding {
  padding:1rem;
}

.negative-margin-bottom {
  margin-bottom: -1.5rem !important;
}

.title.has-image {
  position: relative;
  margin-left: 2.5rem;
  width: 100%;
}

.title.has-image img {
  position: absolute;
  left: -2.5rem;
}

.slide {
  background: #000;
  margin:10px;
  position: relative;
  text-align: center;
  height:100%;
  opacity: 0.8;
}

.slick-center {
  opacity: 1;
  color: #e67e22;
  transform: scale(1.08);
}

.slick-dots {
  position: relative !important;
  margin-left: 10px !important;
  margin-top: -2.3rem !important;
  background-color: rgba(0,0,0,0.8);
  width: 98.2% !important;
}

.slick-dots button:before {
  color: white !important;
}

.slick-dots li {
  margin: 5px !important;
}

.slick {
  position: relative;
  display: none;
}

.slick-arrow:before {
  color: black !important;
}

.image {
  min-height:616px;
}

.image img {
  max-height: 616px;
  width: auto;
  margin:auto;
  position: absolute;
  top: 50%;
  left:0;
  right:0;
  transform: translateY(-50%);
}

section.is-dark {
  background-color: #363636;
  border-color: transparent;
  color: whitesmoke;
}

.is-dark h3 {
  color: whitesmoke;
}

.subtle-subtitle {
  position: absolute;
  top: 0;
  margin-left: 22rem;
  margin-top: 1rem;
}

.box-test {
  box-sizing: border-box;
  box-shadow: rgba(0,0,0,0.12) 0px 1px 6px, rgba(0,0,0,0.12) 0px 1px 4px;
  background: linear-gradient(141deg, #1f191a 0%, #363636 71%, #46403f 100%);
  margin:0.5rem;
  border-radius:0.2rem;
}

.box-test .title {
  font-size: 18pt;
  text-transform: uppercase;
  padding-bottom: 5px;
  width: fit-content;
  color: whitesmoke;
}

.title.deathknight {
  border-bottom: 3px solid $red;
}

.title.demonhunter {
  border-bottom: 3px solid $purple;
}

.title.druid {
  border-bottom: 3px solid $orange;
}

.title.hunter {
  border-bottom: 3px solid #ABD473;
}

.title.mage {
  border-bottom: 3px solid #69CCF0;
}

.title.monk {
  border-bottom: 3px solid #00FF96;
}

.title.paladin {
  border-bottom: 3px solid #F58CBA;
}

.title.priest {
  border-bottom: 3px solid #fff;
}

.title.rogue {
  border-bottom: 3px solid $yellow;
}

.title.shaman {
  border-bottom: 3px solid $blue;
}

.title.warlock {
  border-bottom: 3px solid #9482C9;
}

.title.warrior {
  border-bottom: 3px solid #C79C6E;
}

.do-not-want {
  border: 1px solid transparent !important;
  background: transparent !important;
  box-shadow: none !important;
  opacity: 0.2;
}

.spec {
  padding: 0.5rem;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: rgba(0,0,0,0.12) 0px 1px 6px, rgba(0,0,0,0.12) 0px 1px 4px;
  min-height:45px;
  margin-bottom:0.5rem;
  background-color: rgba(0,0,0,0.1);
}

.spec img {
  width: 28px;
  float: left;
  vertical-align: middle;
}

.spec .title {
  font-size: 15pt;
  float: left;
  line-height: 1.5rem;
  margin-left: 1rem;
  text-transform: uppercase;
}

.column .navbar.is-dark {
  background-color: #363636; 
}

.calendar th, .calendar td {
  text-align: center;
}

.calendar td {
  height: 7rem;
  width: 3rem;
  font-weight: bold;
  vertical-align: top;
  text-align: left;
}

.calendar td.next {
  opacity: 0.4;
}

.calendar {
  table-layout: fixed;
}

.calendar-title {
  margin-top:1rem;
}

.calendar.is-dark th {
  background-color: #363636;
  color: whitesmoke;
}

table.loot td:not(:first-child) {
  text-align: right;
}

table.loot td:first-child, table.calendar td:first-child {
  border-left: 1px solid rgba(0,0,0,0.1);
}

table.loot tr:last-child td, table.calendar tr:last-child td {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

table.loot td, table.calendar td {
  border-right: 1px solid rgba(0,0,0,0.1);
}

table.loot.is-dark th {
  background-color: #363636;
  color: whitesmoke;
}

@media screen and (max-width: 1023px) {
  .hero.lon-gradient .navbar-menu {
    background-color: $light-bg-color;
  }
  .hero.lon-gradient .navbar-item {
    padding: 1rem;
  }
  .lon-gradient .navbar-menu {
    padding: 0;
  }
}