<div class="hero is-light">
	<div class="hero-body" style="padding:0.5rem">
		<div class="container">

			<div class="level">
				<div class="level-left">
						<nav class="breadcrumb no-margin" aria-label="breadcrumbs">
							<!-- DEFINE $MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' -->
							<!-- EVENT overall_header_breadcrumbs_before -->
							<ul>
								<!-- IF U_SITE_HOME -->
								<li class="crumb" {$MICRODATA}>
									<a href="{U_SITE_HOME}" itemprop="url" data-navbar-reference="home">
										<i class="icon fa-home fa-fw" aria-hidden="true"></i>
										<span itemprop="title">{L_SITE_HOME}</span>
									</a>
								</li>
								<!-- ENDIF -->
								<!-- EVENT overall_header_breadcrumb_prepend -->
								<li class="crumb" {$MICRODATA}>
									<a href="{U_INDEX}" itemprop="url" accesskey="h" data-navbar-reference="index">
										<!-- IF not U_SITE_HOME -->
											<i class="icon fa-home fa-fw no-margin" style="line-height:1.5rem"></i>
										<!-- ENDIF -->
										<span itemprop="title">{L_INDEX|title}</span>
									</a>
								</li>
								<!-- BEGIN navlinks -->
									<!-- EVENT overall_header_navlink_prepend -->
									<li class="crumb" {$MICRODATA}<!-- IF navlinks.MICRODATA --> {navlinks.MICRODATA}<!-- ENDIF -->>
										<a href="{navlinks.U_VIEW_FORUM}" itemprop="url"><span itemprop="title">{navlinks.FORUM_NAME|title}</span>
										</a>
									</li>
									<!-- EVENT overall_header_navlink_append -->
								<!-- END navlinks -->
								<!-- EVENT overall_header_breadcrumb_append -->
		
							</ul>
							<!-- EVENT overall_header_breadcrumbs_after -->
						</nav>
				</div>
				<div class="level-right">
					<!-- EVENT overall_header_searchbox_before -->
					<!-- IF S_DISPLAY_SEARCH and not S_IN_SEARCH -->
					<form action="{U_SEARCH}" method="get" id="search">
						<div class="field has-addons margin-right">
							<p class="control">
								<input name="keywords" id="keywords" type="search" maxlength="128" title="{L_SEARCH_KEYWORDS}" class="input search" value="{SEARCH_WORDS}" placeholder="{L_SEARCH_MINI}">
							</p>
							<p class="control">
								<button type="submit" class="button" title="{L_SEARCH}">
										<i class="icon fa-search fa-fw" style="line-height:1.4rem" aria-hidden="true"></i>
								</button>
							</p>
							<p class="control">
								<a class="button" title="{L_SEARCH_ADV|title}">
									<i class="icon fa-cog fa-fw" style="line-height:1.4rem" aria-hidden="true"></i>
								</a>
							</p>
						</div>
					</form>
					<!-- ENDIF -->
					<!-- EVENT overall_header_searchbox_after -->
				</div>
			</div>

				
				
		</div>
	</div>
</div>
