<!DOCTYPE html>
<html dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
{META}
<title><!-- IF UNREAD_NOTIFICATIONS_COUNT -->({UNREAD_NOTIFICATIONS_COUNT}) <!-- ENDIF --><!-- IF not S_VIEWTOPIC and not S_VIEWFORUM -->{SITENAME} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ELSEIF S_IN_UCP -->{L_UCP} - <!-- ENDIF -->{PAGE_TITLE}<!-- IF S_VIEWTOPIC or S_VIEWFORUM --> - {SITENAME}<!-- ENDIF --></title>

<!-- IF S_ENABLE_FEEDS -->
	<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{{ path('phpbb_feed_index') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_NEWS}" href="{{ path('phpbb_feed_news') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{{ path('phpbb_feed_forums') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_NEW}" href="{{ path('phpbb_feed_topics') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPICS_ACTIVE --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FEED_TOPICS_ACTIVE}" href="{{ path('phpbb_feed_topics_active') }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{{ path('phpbb_feed_forum', { forum_id : S_FORUM_ID } ) }}"><!-- ENDIF -->
	<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{{ path('phpbb_feed_topic', { topic_id : S_TOPIC_ID } ) }}"><!-- ENDIF -->
	<!-- EVENT overall_header_feeds -->
<!-- ENDIF -->

<!-- IF U_CANONICAL -->
	<link rel="canonical" href="{U_CANONICAL}">
<!-- ENDIF -->

<!--
	phpBB style name: Flat Style
	Based on style:   prosilver (this is the default phpBB3 style)
	Original author:  Tom Beddard ( http://www.subBlue.com/ )
	Modified by:      Ian Bradley
-->

<link href="{T_FONT_AWESOME_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LINK}" rel="stylesheet">
<link href="{T_STYLESHEET_LANG_LINK}" rel="stylesheet">

<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
	<link href="{T_THEME_PATH}/bidi.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_PLUPLOAD -->
	<link href="{T_THEME_PATH}/plupload.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!-- IF S_COOKIE_NOTICE -->
	<link href="{T_ASSETS_PATH}/cookieconsent/cookieconsent.min.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<!-- ENDIF -->

<!--[if lte IE 9]>
	<link href="{T_THEME_PATH}/tweaks.css?assets_version={T_ASSETS_VERSION}" rel="stylesheet">
<![endif]-->

<!-- EVENT overall_header_head_append -->

{$STYLESHEETS}

<!-- EVENT overall_header_stylesheets_after -->

</head>
<body id="phpbb" class="nojs notouch section-{SCRIPT_NAME} {S_CONTENT_DIRECTION} {BODY_CLASS}">

<!-- EVENT overall_header_body_before -->

<section id="section-1" class="hero is-primary lon-gradient">

	<div class="hero-head">

	</div>

	<!-- Hero content: will be in the middle -->
	<div class="hero-body">
		<div class="container">
				<div class="columns">
					<div class="column is-8-desktop is-offset-2-desktop">
						<h1 class="title is-2 is-spaced relative">
							Legion of Nagrand
							<h4 class="subtitle subtle-subtitle is-12">EU - Tarren Mill</h4>
						</h1>
					</div>
				</div>
			</div>
	</div>

	<div class="hero-foot">

		<nav class="navbar is-transparent">
			<div class="container">

				<div class="navbar-menu">
					<div class="navbar-start">

						<div class="navbar-item has-dropdown is-hoverable <!-- IF not S_DISPLAY_QUICK_LINKS and not S_DISPLAY_SEARCH --> hidden<!-- ENDIF -->">
							
							<a class="navbar-link">
								<i class="icon fa-bars fa-fw" aria-hidden="true" style="line-height:1.6rem"></i><span>{L_QUICK_LINKS|title}</span>
							</a>

							<div class="navbar-dropdown is-boxed">
								<!-- EVENT navbar_header_quick_links_before -->
											
									<!-- IF S_DISPLAY_SEARCH -->

										<!-- IF S_REGISTERED_USER -->
											<a href="{U_SEARCH_SELF}" class="dropdown-item">
												<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_SELF}</span>
											</a>
										<!-- ENDIF -->
										<!-- IF S_USER_LOGGED_IN -->
											<a href="{U_SEARCH_SELF}" class="dropdown-item">
												<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_NEW}</span>
											</a>
										<!-- ENDIF -->
										<!-- IF S_LOAD_UNREADS -->
											<a href="{U_SEARCH_UNREAD}" class="dropdown-item">
												<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNREAD}</span>
											</a>
										<!-- ENDIF -->
										
										<a href="{U_SEARCH_UNANSWERED}" class="dropdown-item">
											<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_UNANSWERED|title}</span>
										</a>
										<a href="{U_SEARCH_ACTIVE_TOPICS}" class="dropdown-item">
											<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_SEARCH_ACTIVE_TOPICS|title}</span>
										</a>

										<hr class="dropdown-divider">
										
										<a href="{U_SEARCH}" class="dropdown-item">
											<i class="icon fa-search fa-fw" aria-hidden="true"></i><span>{L_SEARCH}</span>
										</a>
									<!-- ENDIF -->
									
									<!-- IF U_MARK_FORUMS -->
										<a href="{U_MARK_FORUMS}" class="dropdown-item">
											<i class="icon fa-file fa-fw" aria-hidden="true"></i><span>{L_MARK_FORUMS_READ|title}</span>
										</a>
									<!-- ENDIF -->

									<!-- IF not S_IS_BOT and (S_DISPLAY_MEMBERLIST or U_TEAM) -->

										<!-- IF S_DISPLAY_MEMBERLIST -->
											<a href="{U_MEMBERLIST}" class="dropdown-item">
												<i class="icon fa-group fa-fw" aria-hidden="true"></i><span>{L_MEMBERLIST|title}</span>
											</a>
										<!-- ENDIF -->
										
										<!-- IF U_TEAM -->
											<a href="{U_TEAM}" class="dropdown-item">
												<i class="icon fa-shield fa-fw" aria-hidden="true"></i><span>{L_THE_TEAM|title}</span>
											</a>
										<!-- ENDIF -->

									<!-- ENDIF -->

								<!-- EVENT navbar_header_quick_links_after -->

							</div>
						</div>

						<!-- EVENT overall_header_navigation_prepend -->
							<div class="navbar-item">
								<a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}" style="margin-left:10px">
									<i class="icon fa-question-circle fa-fw" style="line-height:1.4rem;" aria-hidden="true"></i><span>{L_FAQ}</span>
								</a>
							</div>	
								<!-- EVENT overall_header_navigation_append -->
								<!-- IF U_ACP -->
									<div class="navbar-item" data-last-responsive="true">
										<a href="{U_ACP}" title="{L_ACP}" role="menuitem">
											<i class="icon fa-cogs fa-fw" aria-hidden="true"></i><span>{L_ACP_SHORT}</span>
										</a>
									</div>
								<!-- ENDIF -->
								<!-- IF U_MCP -->
									<div class="navbar-item" data-last-responsive="true">
										<a href="{U_MCP}" title="{L_MCP}" role="menuitem">
											<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span>{L_MCP_SHORT}</span>
										</a>
									</div>
								<!-- ENDIF -->
						
					
					</div>
			
					<div class="navbar-end">
						
						<!-- IF S_REGISTERED_USER -->
							<!-- IF S_NOTIFICATIONS_DISPLAY -->
							<div class="navbar-item has-dropdown notifications is-hoverable dropdown-{S_CONTENT_FLOW_END}">

								<div class="navbar-link">
									<a href="{U_VIEW_ALL_NOTIFICATIONS}" id="notification_list_button" class="dropdown-trigger">
										<i class="icon fa-bell fa-fw" aria-hidden="true"></i><span>{L_NOTIFICATIONS} </span><strong class="badge<!-- IF not NOTIFICATIONS_COUNT --> hidden<!-- ENDIF -->">{NOTIFICATIONS_COUNT}</strong>
									</a>
								</div>

								<div class="navbar-dropdown is-boxed">
									<!-- INCLUDE notification_dropdown.html -->
								</div>

							</div>
								
							<!-- ENDIF -->

							<!-- IF S_DISPLAY_PM -->
								<div class="navbar-item rightside" data-skip-responsive="true">
									<a href="{U_PRIVATEMSGS}" role="menuitem">
										<i class="icon fa-inbox fa-fw" aria-hidden="true"></i><span>{L_PRIVATE_MESSAGES} </span><strong class="badge<!-- IF not PRIVATE_MESSAGE_COUNT --> hidden<!-- ENDIF -->">{PRIVATE_MESSAGE_COUNT}</strong>
									</a>
								</div>
							<!-- ENDIF -->
							<!-- EVENT navbar_header_user_profile_prepend -->
							<div class="navbar-item has-dropdown user-dropdown is-hoverable <!-- IF CURRENT_USER_AVATAR --> no-bulletin<!-- ENDIF -->">
								<!-- EVENT navbar_header_username_prepend -->
								<a class="navbar-link">
									<a href="{U_PROFILE}" class="header-avatar dropdown-trigger"><!-- IF CURRENT_USER_AVATAR -->{CURRENT_USER_AVATAR} <!-- ENDIF --> {CURRENT_USERNAME_SIMPLE}</a>
								</a>

								<div class="navbar-dropdown is-boxed">
											
									<!-- IF U_RESTORE_PERMISSIONS -->
										<a href="{U_RESTORE_PERMISSIONS}" class="dropdown-item">
											<i class="icon fa-refresh fa-fw" aria-hidden="true"></i><span>{L_RESTORE_PERMISSIONS}</span>
										</a>
									<!-- ENDIF -->
									<!-- EVENT navbar_header_profile_list_before -->

										<a href="{U_PROFILE}" title="{L_PROFILE}" class="dropdown-item" role="menuitem">
											<i class="icon fa-sliders fa-fw" aria-hidden="true"></i><span>{L_PROFILE}</span>
										</a>
									
										<a href="{U_USER_PROFILE}" title="{L_READ_PROFILE}" class="dropdown-item" role="menuitem">
											<i class="icon fa-user fa-fw" aria-hidden="true"></i><span>{L_READ_PROFILE}</span>
										</a>

									<!-- EVENT navbar_header_profile_list_after -->

									<hr class="dropdown-divider">

									<a href="{U_LOGIN_LOGOUT}" title="{L_LOGIN_LOGOUT}" class="dropdown-item" accesskey="x" role="menuitem">
										<i class="icon fa-power-off fa-fw" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
									</a>

								</div>
								<!-- EVENT navbar_header_username_append -->

							</div>
							
							<!-- EVENT navbar_header_user_profile_append -->
						<!-- ELSE -->
							
							<div class="navbar-item">
								<a href="{U_LOGIN_LOGOUT}" class="margin-right" title="{L_LOGIN_LOGOUT}" accesskey="x" role="menuitem">
									<i class="icon fa-power-off fa-fw" style="line-height:1.4rem;" aria-hidden="true"></i><span>{L_LOGIN_LOGOUT}</span>
								</a>
							</div>
							
							<!-- IF S_REGISTER_ENABLED and not (S_SHOW_COPPA or S_REGISTRATION) -->
							
							<div class="navbar-item">
								<a href="{U_REGISTER}" role="menuitem">
									<i class="icon fa-pencil-square-o  fa-fw" style="line-height:1.4rem;" aria-hidden="true"></i><span>{L_REGISTER}</span>
								</a>
							</div>
								
								
							<!-- ENDIF -->
							<!-- EVENT navbar_header_logged_out_content -->
						<!-- ENDIF -->
						
					</div>

				</div>

			</div>
		</nav>

	</div>

</section>



<div id="wrap" class="wrap">
	<a id="top" class="top-anchor" accesskey="t"></a>
	<div id="page-header">
		<div class="headerbar" role="banner">
		<!-- EVENT overall_header_headerbar_before -->
			<div class="inner">

			<div id="site-description">
				<a id="logo" class="logo" href="<!-- IF U_SITE_HOME -->{U_SITE_HOME}<!-- ELSE -->{U_INDEX}<!-- ENDIF -->" title="<!-- IF U_SITE_HOME -->{L_SITE_HOME}<!-- ELSE -->{L_INDEX}<!-- ENDIF -->"><span class="site_logo"></span></a>
				<div  class="site-description">
					
				</div>
			</div>

			</div>
			<!-- EVENT overall_header_headerbar_after -->
		</div>
		<!-- EVENT overall_header_navbar_before -->
		<!-- INCLUDE navbar_header.html -->
	</div>

	<!-- EVENT overall_header_page_body_before -->

	<a id="start_here" class="anchor"></a>
	<div id="page-body" class="page-body" role="main">
		<!-- IF S_BOARD_DISABLED and S_USER_LOGGED_IN and (U_MCP or U_ACP) -->
		<div id="information" class="rules">
			<div class="inner">
				<strong>{L_INFORMATION}{L_COLON}</strong> {L_BOARD_DISABLED}
			</div>
		</div>
		<!-- ENDIF -->

		<!-- EVENT overall_header_content_before -->
