.one-rem-padding {
  padding: 1rem;
}

.hidden {
	display: none ;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.margin-right {
  margin: 0 10px 0 0 !important;
}

.breadcrumb a {
  color:#3273dc !important;
}


.navbar input {
  border-radius: 0;
  background-color: rgba(255,255,255,0.3);
  border: 1px solid rgba(255,255,255,0.3);
  outline: none;
  box-shadow: none;
  color: #fff;
}

.navbar input:focus {
  border-color: rgba(255,255,255,0.3);
  box-shadow: none;
}

.navbar input::placeholder {
  color: #fff;
}

.navbar input::-webkit-input-placeholder,
.navbar input::-ms-input-placeholder, .navbar input::-ms-input-placeholder {
  color: #fff;
}

.navbar .button {
  border-color: rgba(255,255,255,0.3);
  color: #fff;
  background-color: rgba(255,255,255,0.3);
  border-radius: 0;
}

.user-dropdown .navbar-link::after {
  display: none;
}

.user-dropdown .navbar-link {
  padding: 0;
}
.user-dropdown a.header-avatar {
  line-height: 2.8rem;
}

.user-dropdown a.header-avatar span {
  color: #fff !important;
}

.notifications .navbar-dropdown {
  width: 450px;
  position: absolute;
}

.notifications #notification_list {
  width: 450px;
}

.notifications .dropdown-contents {
  width: 450px;
}

.notifications .dropdown-contents .header {
  color: black;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  line-height: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.notifications .dropdown-contents .header_settings {
  float: right;
  margin: 0 1rem 0 0;
  color: #3273dc !important;
  line-height: 0.8rem;
  text-transform: capitalize;
}

.notifications .dropdown-contents ul {
  padding: 0.5rem;
  color: black;
}

.notifications .dropdown-contents .footer {
  color: #3273dc !important;
  text-align: center;
  padding: 0.5rem 0 0 0;
  background-color: inherit;
  border-top: 1px solid rgba(0,0,0,0.1);
}